root {
  display: flex;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap; /* カードが画面の幅を超えたら折り返す */
  margin: 8px;
}
.cardstyle {
  width: 200px; /* カードの幅 */
  height: 200px;
  border: 1px solid #ccc; /* カードの枠線 */
  border-radius: 8px; /* 角を丸くする */
  background-color: blanchedalmond;
  text-align: center;
  margin: 8px;
}
